@import "tailwindcss";

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  animation: scrollRight 20s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}